extends base.pug

block content
    h4 Change Titie of video
    form(method="POST")
        input(name="title" placeholder="Viedo Title" value=video.title,required)
        input(value="Save",type="submit")